/* ***************
* BASIC ELEMENTS
**************** */
* {
     color: $c_secondary;
     box-sizing: border-box;
     margin: 0;
     padding: 0;
}

.container {
     max-width: 100%;
     margin-right: auto;
     margin-left: auto;
     @media screen and(min-width: $sm) {
          max-width: 75%;
     }
}

.block {
     padding-top: 5rem;
     padding-bottom: 5rem;
}

.btn-primary {
     
}