
header{
     nav {
          display: flex;
          align-items: center;
     }
     .links {
          ul {
              display: flex; 
              list-style-type: none;
              gap: 8px;

              a {
                   text-decoration: none;
              }
          }
          
     }
}