.placeholder{
     height: 70vh;
}

main {
     section {
          background-color: $c_primary;
          &:nth-child(even) {
               background-color: $c_accent;
          }
          .heading {
               text-align: center;
               padding-bottom: 5rem;
          }
          .content-block {
               display: flex;
               gap: 16px;
               padding: 0 15%;
               .content-inner {
                    display: block;
                    .content-img {
                         display: block;
                         height: 100%;
                    }
                    img {
                         display: flex;
                         align-items: center;
                         justify-content: center;
                         border: 1px solid black;
                         border-radius: 10px;
                         height: auto;
                         margin-bottom: 1rem;
                         &::before {
                              text-align: center;
                         }
                         &::after {
                              content: '';
                              padding-top: 100%;
                         }
                    }
                    .content-text {
                         text-align: center;
                    }
               }
          }
     }

     /* ********
     *    Quote Section
     ********* */
     .content-quote {
          //padding-right: 15%;
          //padding-left: 15%;
          margin-right: auto;
          margin-left: auto;
          display: flex;
          flex-direction: column;

          blockquote {
               font-style: italic;
               font-size: $f_bigger;
               padding: 0 8px;
          }

          .content-quote-author {
               align-self: flex-end;
               margin-top: 16px;
               &::before {
                    content: '- ';

               }
          }
     }

     /* ********
     *    CTA Section
     ********* */
     .cta {
          display: flex;
          align-items: center;
          justify-content: space-around;
          background-color: $c_accent;
          border-radius: 15px;
          height: 200px;
     }

}