.placeholder{
     height: 70vh;
}

main {
     section {
          background-color: $c_primary;
          &:nth-child(even) {
               background-color: $c_accent;
          }
          .heading {
               text-align: center;
               padding-bottom: 5rem;
          }
          .content-block {
               display: flex;
               gap: 16px;
               .content-inner {
                    display: block;
                    .content-img {
                         display: block;
                         height: 100%;
                    }
                    img {
                         display: flex;
                         align-items: center;
                         justify-content: center;
                         border: 1px solid black;
                         border-radius: 10px;
                         height: auto;
                         margin-bottom: 1rem;
                         &::before {
                              text-align: center;
                         }
                         &::after {
                              content: '';
                              padding-top: 100%;
                         }
                    }
                    .content-text {
                         text-align: center;
                    }
               }
          }
     }

     /* ********
     *    2nd Section
     ********* */
     .content-quote {
          padding-right: 15%;
          padding-left: 15%;
          margin-right: auto;
          margin-left: auto;
          display: flex;
          flex-direction: column;
          .content-quote-author {
               align-self: flex-end;
          }
     }
}