/* *********************
*    Fonts                *
********************* */

$fjosy_thin: 'Josy Sans Light';
$fjosy_regular: 'Josy Sans Regular';
$fjosy_semibold: 'Josy Sans Semibold';

/* *********************
*    Colors                *
********************* */

$c_primary: #EBD8D0;
$c_secondary: #FFFBFF;
$c_accent: #EAC9C1;
$c_mixed_white: #FEFEFF;
$c_background: #D3AB9E;